In [1]:
import pandas as pd

In [2]:
df_v1 = pd.read_csv("total_house_prices.csv",index_col=0)

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\4013986287.py:1: DtypeWarning: Columns (27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_v1 = pd.read_csv("total_house_prices.csv",index_col=0)

In [3]:
df_v1.isna().sum()

City                         0
District                     0
Neighborhood                 0
İlan no                      0
Son Güncelleme Tarihi        0
Oda + Salon Sayısı           0
Brüt / Net M2                0
Bulunduğu Kat             1773
Bina Yaşı                    0
Isınma Tipi                  0
Kat Sayısı                  26
Krediye Uygunluk             4
Eşya Durumu               2051
Banyo Sayısı                22
Kullanım Durumu           1951
Takas                     3313
Cephe                     4624
Rent                         0
Tapu Durumu               3574
Yapı Tipi                 7256
Yapının Durumu            6698
Aidat                    14733
Kira Getirisi            16246
Yakıt Tipi                5771
Yetkili Ofis              9566
Site İçerisinde          30259
Depozito                 33322
Kapalı Alan M2           33325
Açık Alan M2             33325
Bina Sayısı              33325
Ada No                   33324
Parsel No                33324
dtype: int64

In [4]:
df_v1 =df_v1.drop(columns=["İlan no", "Son Güncelleme Tarihi", "Takas"])
df_v1.isna().sum()

City                      0
District                  0
Neighborhood              0
Oda + Salon Sayısı        0
Brüt / Net M2             0
Bulunduğu Kat          1773
Bina Yaşı                 0
Isınma Tipi               0
Kat Sayısı               26
Krediye Uygunluk          4
Eşya Durumu            2051
Banyo Sayısı             22
Kullanım Durumu        1951
Cephe                  4624
Rent                      0
Tapu Durumu            3574
Yapı Tipi              7256
Yapının Durumu         6698
Aidat                 14733
Kira Getirisi         16246
Yakıt Tipi             5771
Yetkili Ofis           9566
Site İçerisinde       30259
Depozito              33322
Kapalı Alan M2        33325
Açık Alan M2          33325
Bina Sayısı           33325
Ada No                33324
Parsel No             33324
dtype: int64

In [5]:
df_v1 = df_v1.rename(columns={'Oda + Salon Sayısı': 'Num_Of_Room', 'Brüt / Net M2': 'Area',
                               'Bulunduğu Kat': 'Floor',"Bina Yaşı":"Age","Isınma Tipi":"Heat_type","Kat Sayısı":"Apt_Floor",
                               "Krediye Uygunluk":"Credit_Eli","Eşya Durumu":"Items","Banyo Sayısı":"Num_of_Bath","Kullanım Durumu":"Usage","Cephe":"Side","Rent":"Price"})

In [6]:
df_v1 = df_v1.drop(columns=["Side"])
df_v2 = df_v1.dropna()
df_v2.isna().sum()

City               0.0
District           0.0
Neighborhood       0.0
Num_Of_Room        0.0
Area               0.0
Floor              0.0
Age                0.0
Heat_type          0.0
Apt_Floor          0.0
Credit_Eli         0.0
Items              0.0
Num_of_Bath        0.0
Usage              0.0
Price              0.0
Tapu Durumu        0.0
Yapı Tipi          0.0
Yapının Durumu     0.0
Aidat              0.0
Kira Getirisi      0.0
Yakıt Tipi         0.0
Yetkili Ofis       0.0
Site İçerisinde    0.0
Depozito           0.0
Kapalı Alan M2     0.0
Açık Alan M2       0.0
Bina Sayısı        0.0
Ada No             0.0
Parsel No          0.0
dtype: float64

In [ ]:
value_counts = df_v2['Floor'].value_counts()

In [ ]:
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
first_floor = ["Zemin", "Giriş Katı", "Bahçe Katı", "Yüksek Giriş"]
basement = ["Kot 1", "Kot 2", "Kot 3", "Bodrum", "Bodrum ve Zemin", "Yarı Bodrum"]
top_floor = ["En Üst Kat", "Teras Katı", "Çatı Katı"]

In [ ]:
# Replace the values in the dataframe
df_v2['Floor'] = df_v2['Floor'].replace(first_floor, 'first floor')
df_v2['Floor'] = df_v2['Floor'].replace(basement, 'basement')
df_v2['Floor'] = df_v2['Floor'].replace(top_floor, 'top floor')

# Drop rows with "Asma Kat" as a value
df_v2 = df_v2[df_v2['Floor'] != "Asma Kat"]

# Assign the rest to "interstage"
unique_values = df_v2['Floor'].unique()
interstage = [value for value in unique_values if value not in ['first floor', 'basement', 'top floor']]
df_v2['Floor'] = df_v2['Floor'].replace(interstage, 'interstage')

In [ ]:
value_counts = df_v2['Floor'].value_counts()
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
df_v2['Age'] = df_v2['Age'].str.extract('(\d+)').astype(float)

In [ ]:
value_counts = df_v2['Heat_type'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
value_counts = df_v2['Heat_type'].value_counts()
last_six_values = value_counts[-6:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Heat_type'].isin(last_six_values)]
value_counts = df_v2['Heat_type'].value_counts()

In [ ]:
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
value_counts = df_v2['Heat_type'].value_counts()
last_5_values = value_counts[-5:].index.tolist()

df_v2 = df_v2[~df_v2['Heat_type'].isin(last_5_values)]
value_counts = df_v2['District'].value_counts()

In [ ]:
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
df_v2 =df_v2.drop(columns = ["District"])

In [ ]:
value_counts = df_v2['Neighborhood'].value_counts()
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
value_counts = df_v2['Neighborhood'].value_counts()
last_380_values = value_counts[-150:].index.tolist()

df_v2 = df_v2[~df_v2['Neighborhood'].isin(last_380_values)]

In [ ]:
df_v2['Apt_Floor'] = df_v2['Apt_Floor'].str.extract('(\d+)').astype(float)

In [ ]:
value_counts = df_v2['Credit_Eli'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
value_counts = df_v2['Credit_Eli'].value_counts()

# Get a list of the last 6 unique values
last_values = value_counts[-1:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Credit_Eli'].isin(last_values)]
value_counts = df_v2['Credit_Eli'].value_counts()

In [ ]:
for value, count in value_counts.items():
    print(f"{value}: {count}")
value_counts = df_v2['Items'].value_counts()

In [ ]:
for value, count in value_counts.items():
    print(f"{value}: {count}")
df_v2['Items'] = df_v2['Items'].replace({'Eşyalı Değil': 0, 'Eşyalı': 1})

df_v2["Credit_Eli"] = df_v2["Credit_Eli"].replace({"Uygun":1,"Uygun değil":0})

In [ ]:
value_counts = df_v2['Usage'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

In [ ]:
value_counts = df_v2['Usage'].value_counts()

# Get a list of the last 6 unique values
last_value = value_counts[-1:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Usage'].isin(last_value)]

In [ ]:
df_v2.isna().sum()

In [ ]:
df_v2 = df_v2.dropna()

In [ ]:
df_v2.dtypes

In [ ]:
df_v2['Price'] = df_v2['Price'].str.replace('.', '').str.replace(' TL', '')
df_v2["Price"] = df_v2["Price"].astype(float)
df_v2['Num_Of_Room'] = df_v2['Num_Of_Room'].apply(lambda x: int(x.split('+')[0]) + int(x.split('+')[1]))

# Remove 'm2' from Area and convert to integers
df_v2['Area'] = df_v2['Area'].str.replace(' m2', '').astype(float)
df_v2 = df_v2.drop(columns=["City"])
df_v2.dtypes

In [ ]:
categorical_columns = ["Floor","Heat_type","Usage"]  # list the categorical columns you want to convert
df_v2 = pd.get_dummies(df_v2, columns=categorical_columns, drop_first=False)

In [ ]:
df_v2.dtypes

In [ ]:
df_v2.isna().sum()

In [ ]:
column_to_move = 'Price'
column = df_v2.pop(column_to_move)
df_v2.insert(len(df_v2.columns), column_to_move, column)
df_v3 = df_v2.reset_index()
df_v3 = df_v3.drop(columns=["index"])
df_v3.to_excel("house_price_progress_neig.xlsx")