In [65]:
import pandas as pd

In [66]:
import sys
stdout = sys.stdout

# some functions that mess up sys.stdout

sys.stdout = stdout

In [67]:
df = pd.read_csv("total_house_prices.csv",index_col=0)

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\1769208789.py:1: DtypeWarning: Columns (27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("total_house_prices.csv",index_col=0)

In [68]:
df.isna().sum()

City                         0
District                     0
Neighborhood                 0
İlan no                      0
Son Güncelleme Tarihi        0
Oda + Salon Sayısı           0
Brüt / Net M2                0
Bulunduğu Kat             1773
Bina Yaşı                    0
Isınma Tipi                  0
Kat Sayısı                  26
Krediye Uygunluk             4
Eşya Durumu               2051
Banyo Sayısı                22
Kullanım Durumu           1951
Takas                     3313
Cephe                     4624
Rent                         0
Tapu Durumu               3574
Yapı Tipi                 7256
Yapının Durumu            6698
Aidat                    14733
Kira Getirisi            16246
Yakıt Tipi                5771
Yetkili Ofis              9566
Site İçerisinde          30259
Depozito                 33322
Kapalı Alan M2           33325
Açık Alan M2             33325
Bina Sayısı              33325
Ada No                   33324
Parsel No                33324
dtype: int64

In [69]:
df_v1 = df.iloc[:,:18]

df_v1 =df_v1.drop(columns=["İlan no", "Son Güncelleme Tarihi", "Takas"])
df_v1.isna().sum()

City                     0
District                 0
Neighborhood             0
Oda + Salon Sayısı       0
Brüt / Net M2            0
Bulunduğu Kat         1773
Bina Yaşı                0
Isınma Tipi              0
Kat Sayısı              26
Krediye Uygunluk         4
Eşya Durumu           2051
Banyo Sayısı            22
Kullanım Durumu       1951
Cephe                 4624
Rent                     0
dtype: int64

In [70]:
df_v2 = df_v1.dropna()
df_v2.isna().sum()

City                  0
District              0
Neighborhood          0
Oda + Salon Sayısı    0
Brüt / Net M2         0
Bulunduğu Kat         0
Bina Yaşı             0
Isınma Tipi           0
Kat Sayısı            0
Krediye Uygunluk      0
Eşya Durumu           0
Banyo Sayısı          0
Kullanım Durumu       0
Cephe                 0
Rent                  0
dtype: int64

In [71]:
df_v2 = df_v2.rename(columns={'Oda + Salon Sayısı': 'Num_Of_Room', 'Brüt / Net M2': 'Area',
                               'Bulunduğu Kat': 'Floor',"Bina Yaşı":"Age","Isınma Tipi":"Heat_type","Kat Sayısı":"Apt_Floor",
                               "Krediye Uygunluk":"Credit_Eli","Eşya Durumu":"Items","Banyo Sayısı":"Num_of_Bath","Kullanım Durumu":"Usage","Cephe":"Side","Rent":"Price"})

In [72]:
df_v2 = df_v2.drop(columns=["Side"])

In [73]:
df_v2

,City,District,Neighborhood,Num_Of_Room,Area,Floor,Age,Heat_type,Apt_Floor,Credit_Eli,Items,Num_of_Bath,Usage,Price
0,Ankara,Gölbaşı,Hacılar,7 + 2,550 m2,Bahçe Katı,4 Yaşında,Kombi,3 Katlı,Uygun,Eşyalı Değil,6.0,Boş,17.700.000 TL
4,Ankara,Keçiören,Etlik,3 + 1,145 m2,2. Kat,16 Yaşında,Kombi,4 Katlı,Uygun,Eşyalı Değil,2.0,Boş,2.790.000 TL
6,Ankara,Çankaya,Birlik,6 + 2,340 m2,4. Kat,18 Yaşında,Kombi,4 Katlı,Uygun,Eşyalı Değil,3.0,Boş,4.450.000 TL
8,Ankara,Keçiören,Ovacık,4 + 1,215 m2,2. Kat,Sıfır Bina,Merkezi (Pay Ölçer),13 Katlı,Uygun,Eşyalı Değil,2.0,Boş,4.350.000 TL
9,Ankara,Keçiören,Etlik,3 + 1,110 m2,Kot 2,25 Yaşında,Kombi,3 Katlı,Uygun,Eşyalı Değil,1.0,Mülk Sahibi,1.249.000 TL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33321,Ankara,Çankaya,Maltepe,3 + 1,110 m2,2. Kat,36 Yaşında,Yerden Isıtma,4 Katlı,Uygun,Eşyalı Değil,1.0,Kiracılı,3.250.000 TL
33322,Ankara,Polatlı,Zafer,6 + 1,340 m2,En Üst Kat,11 Yaşında,Kombi,4 Katlı,Uygun,Eşyalı Değil,2.0,Mülk Sahibi,1.395.000 TL
33323,Ankara,Çankaya,Yıldızevler,3 + 1,155 m2,2. Kat,23 Yaşında,Merkezi,4 Katlı,Uygun,Eşyalı Değil,2.0,Boş,4.750.000 TL
33324,Ankara,Keçiören,Bağlarbaşı,4 + 1,215 m2,1. Kat,8 Yaşında,Kombi,10 Katlı,Uygun,Eşyalı Değil,2.0,Boş,4.250.000 TL
33325,Ankara,Çankaya,100. Yıl,3 + 1,125 m2,Yüksek Giriş,40 Yaşında,Merkezi,3 Katlı,Uygun,Eşyalı Değil,1.0,Kiracılı,2.250.000 TL

In [74]:
value_counts = df_v2['Floor'].value_counts()

In [75]:
for value, count in value_counts.items():
 print(f"{value}: {count}")

3. Kat: 3904
1. Kat: 3778
2. Kat: 3570
Yüksek Giriş: 2040
4. Kat: 1633
Ara Kat: 1464
En Üst Kat: 1141
Kot 1: 1008
Giriş Katı: 966
5. Kat: 748
Bahçe Katı: 628
6. Kat: 598
7. Kat: 408
8. Kat: 392
Kot 2: 390
9. Kat: 351
10. Kat: 330
11. Kat: 245
21 ve üzeri: 236
12. Kat: 222
Teras Katı: 211
13. Kat: 152
14. Kat: 140
Zemin: 111
Çatı Katı: 109
15. Kat: 97
Kot 3: 85
16. Kat: 68
17. Kat: 53
Villa Katı: 35
20. Kat: 34
18. Kat: 29
19. Kat: 27
Bodrum: 22
Bodrum ve Zemin: 11
Yarı Bodrum: 10
Asma Kat: 2

In [76]:
first_floor = ["Zemin", "Giriş Katı", "Bahçe Katı", "Yüksek Giriş"]
basement = ["Kot 1", "Kot 2", "Kot 3", "Bodrum", "Bodrum ve Zemin", "Yarı Bodrum"]
top_floor = ["En Üst Kat", "Teras Katı", "Çatı Katı"]

In [77]:
# Replace the values in the dataframe
df_v2['Floor'] = df_v2['Floor'].replace(first_floor, 'first floor')
df_v2['Floor'] = df_v2['Floor'].replace(basement, 'basement')
df_v2['Floor'] = df_v2['Floor'].replace(top_floor, 'top floor')

# Drop rows with "Asma Kat" as a value
df_v2 = df_v2[df_v2['Floor'] != "Asma Kat"]

# Assign the rest to "interstage"
unique_values = df_v2['Floor'].unique()
interstage = [value for value in unique_values if value not in ['first floor', 'basement', 'top floor']]
df_v2['Floor'] = df_v2['Floor'].replace(interstage, 'interstage')

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\1174050341.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v2['Floor'] = df_v2['Floor'].replace(interstage, 'interstage')

In [78]:
value_counts = df_v2['Floor'].value_counts()
for value, count in value_counts.items():
    print(f"{value}: {count}")

interstage: 18514
first floor: 3745
basement: 1526
top floor: 1461

In [79]:
df_v2['Age'] = df_v2['Age'].str.extract('(\d+)').astype(float)

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\3636994891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v2['Age'] = df_v2['Age'].str.extract('(\d+)').astype(float)

In [80]:
value_counts = df_v2['Heat_type'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

Kombi: 19447
Merkezi (Pay Ölçer): 3176
Merkezi: 2056
Yerden Isıtma: 357
Kat Kaloriferi: 70
Soba: 66
Doğalgaz Sobası: 24
Klima: 18
Isıtma Yok: 12
Belirtilmemiş: 8
Güneş Enerjisi: 4
Fancoil Ünitesi: 4
Jeotermal Isıtma: 3
VRV: 1

In [81]:
value_counts = df_v2['Heat_type'].value_counts()
last_six_values = value_counts[-6:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Heat_type'].isin(last_six_values)]
value_counts = df_v2['Heat_type'].value_counts()

In [82]:
for value, count in value_counts.items():
    print(f"{value}: {count}")

Kombi: 19447
Merkezi (Pay Ölçer): 3176
Merkezi: 2056
Yerden Isıtma: 357
Kat Kaloriferi: 70
Soba: 66
Doğalgaz Sobası: 24
Klima: 18

In [83]:
value_counts = df_v2['Heat_type'].value_counts()
last_5_values = value_counts[-5:].index.tolist()

df_v2 = df_v2[~df_v2['Heat_type'].isin(last_5_values)]
value_counts = df_v2['District'].value_counts()

In [84]:
for value, count in value_counts.items():
    print(f"{value}: {count}")

Çankaya: 6486
Keçiören: 4499
Mamak: 3846
Etimesgut: 2377
Sincan: 2113
Yenimahalle: 1930
Altındağ: 1247
Pursaklar: 797
Gölbaşı: 721
Polatlı: 443
Çubuk: 121
Akyurt: 38
Kahramankazan: 16
Kızılcahamam: 13
Elmadağ: 12
Beypazarı: 9
Şereflikoçhisar: 4
Bala: 2
Ayaş: 2
Kalecik: 1
Haymana: 1
Güdül: 1

In [107]:
value_counts = df_v2['Neighborhood'].value_counts()
neighborhood_counts = {}

for value, count in value_counts.items():
    neighborhood_counts[value] = count

print(neighborhood_counts)

{'Etlik': 513, 'Ayvalı': 330, 'Atapark': 238, 'Harbiye': 225, 'Durali Alıç': 225, 'Merkez': 222, 'İlkadım': 218, 'Akşemsettin': 210, 'General Zeki Doğan': 202, 'Mareşal Çakmak': 197, 'Karapürçek': 190, 'İstasyon': 188, 'Yayla': 184, 'Naci Çakır': 183, 'Aşağı Eğlence': 178, 'Şahintepe': 173, 'Keklik Pınarı': 172, 'Mimar Sinan': 171, 'İncirli': 171, 'Cengizhan': 168, 'Yunus Emre': 164, 'Mutlu': 162, 'Emek': 161, 'Birlik': 161, 'Aydınlıkevler': 161, 'Fatih': 158, 'Turgut Özal': 156, 'Plevne': 150, 'Yükseltepe': 150, 'Ata': 149, 'Huzur': 148, 'Karakaya': 147, 'Osman Temiz': 147, 'Pınarbaşı': 145, 'Fahri Korutürk': 145, 'Bağlıca': 142, 'Akpınar': 141, 'Kutlu': 140, 'Esertepe': 140, 'Kırkkonaklar': 137, 'Ovacık': 134, 'Malazgirt': 133, 'Topçu': 130, 'Selçuklu': 129, 'Tandoğan': 129, 'Yukarı Bahçelievler': 126, 'İlkbahar': 125, 'Sokullu Mehmet Paşa': 124, 'Piyade': 120, 'Mustafa Kemal': 118, 'Aydınlar': 116, 'Bahçelievler': 114, 'Kanuni': 114, 'Ayrancı': 111, 'Mürsel Uluç': 110, 'Tuzluçayır': 109, 'Sancaktepe': 109, 'Güneşevler': 106, 'Alsancak': 104, 'Cevizlidere': 101, 'Ahi Mesut': 101, 'Alacaatlı': 99, 'Bahçelerüstü': 99, 'Şehit Kubilay': 99, 'Şehit Osman Avcı': 97, 'Kuşcağız': 95, 'Aşık Veysel': 94, 'Ege': 94, 'Pamuklar': 94, 'Elvan': 92, 'Türközü': 90, 'Yeni Bağlıca': 90, 'Yeni Batı': 89, 'Şafaktepe': 86, 'Aşağı Öveçler': 85, 'Andiçen': 84, 'Büyükesat': 83, 'Çağlayan': 83, 'Şehit Cengiz Karaca': 83, 'Tepebaşı': 83, 'Atatürk': 81, 'Şehit Cevdet Özdemir': 80, 'Karapınar': 80, 'Örnek': 80, 'Süvari': 79, 'Aziziye': 78, 'Uyanış': 78, 'Hürel': 77, 'Ufuktepe': 75, 'Bademlik': 75, 'Atakent': 73, 'Aşıkpaşa': 73, 'Beşikkaya': 72, 'Demirlibahçe': 72, 'Gültepe': 72, 'Kentkoop': 72, 'Maltepe': 71, 'Kavaklıdere': 70, 'Karşıyaka': 70, 'Gazi': 70, 'Cumhuriyet': 70, 'Demetgül': 69, 'Bağlarbaşı': 69, 'Seyranbağları': 68, 'Mehtap': 68, 'Öveçler': 68, 'Peyami Safa': 67, 'Başak': 66, 'Kardelen': 65, 'Oran': 65, '19 Mayıs': 62, 'Şirintepe': 61, 'Osmangazi': 61, '30 Ağustos': 60, 'Abidinpaşa': 60, 'Hilal': 60, 'Gülveren': 59, 'Şenlik': 58, 'Yeşilova': 58, 'Tunahan': 58, 'Demetevler': 57, 'Hisar': 56, 'Gökkuşağı': 56, 'Yukarı Dikmen': 55, 'Kazım Orbay': 55, 'Eryaman': 55, 'Şeyh Şamil': 54, 'Misket': 54, 'Şehitlik': 53, 'Yaşamkent': 53, 'İşçi Blokları': 51, 'Menderes': 51, 'Göksu': 50, 'Yıldıztepe': 49, 'Fevzi Çakmak': 48, 'Ergazi': 48, 'Altıağaç': 48, 'Harman': 48, 'Sancak': 48, 'Oğuzlar': 48, 'İncek': 48, 'Bahçeleriçi': 48, 'Ertuğrulgazi': 48, 'Gaziosmanpaşa': 46, 'Kartaltepe': 46, 'Yıldızevler': 45, 'Beytepe': 45, 'Çiçekli': 45, 'Saimekadın': 45, 'Metin Oktay': 44, 'Demetlale': 44, 'Çiğdemtepe': 43, 'Mutlukent': 43, 'Balkiraz': 42, 'Akdere': 42, 'Kültür': 42, 'Ayyıldız': 42, 'Atayurt': 41, 'Adnan Menderes': 41, 'Turkuaz': 41, 'Feridun Çelik': 41, 'Ekin': 40, 'Devlet': 40, 'Battalgazi': 40, 'Barbaros': 40, 'Başpınar': 39, 'Serhat': 39, 'Umut': 39, 'Kızılcaşar': 39, 'Kafkas': 39, 'Varlık': 38, 'Kazım Karabekir': 38, 'Çiğdem': 37, 'Güvenevler': 37, 'Güzeltepe': 36, 'Zafer': 36, 'Çarşı': 36, 'Mehmet Akif Ersoy': 36, 'Boğaziçi': 36, 'Basınevleri': 35, 'Çankaya': 35, 'Karaağaç': 35, 'Remzi Oğuz Arık': 35, '100. Yıl': 35, 'Batı Sitesi': 34, 'Tınaztepe': 34, 'Kavacık Subayevleri': 34, 'Fakülteler': 33, 'Anıttepe': 33, 'Saray Fatih': 33, 'Dodurga': 33, 'Yeşilevler': 33, 'Bayraktar': 33, 'Osmanlı': 33, 'Metin Akkuş': 33, 'Küçük Kayaş': 32, 'Ahi Evran': 32, 'Güzelkent': 32, 'Altay': 32, 'Saraycık': 31, 'Hacılar': 31, 'Baraj': 30, 'İlkyerleşim': 30, 'Yavuz Selim': 30, 'Köşk': 30, 'Şentepe': 30, 'Hacettepe': 29, 'Şeker': 29, 'Yakacık': 29, 'Konutkent': 28, 'Aktepe': 28, 'Yukarı Öveçler': 28, 'İnönü': 27, 'Çamlıtepe': 27, 'Güçlükaya': 27, 'Bağcılar': 27, 'Ümit': 27, 'Esentepe': 27, 'Tepealtı': 27, 'Diriliş': 26, 'İleri': 26, 'Ön Cebeci': 26, 'Taşpınar': 26, 'Yeşilbayır': 26, 'Işınlar': 25, 'Arka Topraklık': 25, 'Prof. Dr. Ahmet Taner Kışlalı': 25, 'Etiler': 25, 'Kızılırmak': 24, 'Doğantepe': 24, 'Kazım Özalp': 23, 'Koru': 23, 'Saray Cumhuriyet': 23, 'Avcılar': 22, 'Fidanlık': 22, 'Esatoğlu': 22, 'Zirvekent': 22, 'Bademlidere': 22, 'Cebeci': 22, 'Emniyet': 22, 'Yeşiltepe': 21, 'Çayyolu': 21, 'Çukurambar': 21, 'Yeni Bayındır': 20, 'Nasuh Akar': 20, 'Emrah': 20, 'Murat': 20, 'Kurtuluş': 20, 'İncesu': 20, 'İlker': 20, 'Şahap Gürler': 20, 'Ergenekon': 19, 'Tevfik İleri': 19, 'Küçükesat': 19, 'Özevler': 19, 'Ragıp Tüzün': 19, 'Uğur Mumcu': 18, 'Yeniçağ': 18, 'Kayalar': 18, 'Yıldırım Beyazıt': 18, 'Hüseyingazi': 18, 'Mebusevleri': 17, 'Eymir': 17, 'Kalaba': 17, 'Karargahtepe': 17, 'Seğmenler': 17, 'Ulubey': 17, 'Derbent': 17, '29 Ekim': 17, 'Muhsin Ertuğrul': 16, 'İstiklal': 16, 'Yapracık': 16, 'Alcı': 16, 'Susuz': 16, 'Şafak': 16, 'Korkutreis': 15, 'Kızılay': 15, 'Göktürk': 15, 'Balgat': 15, 'Çaldıran': 15, 'Zafertepe': 15, 'Gayret': 14, 'Burç': 14, 'Kamil Ocak': 14, 'Kocatepe': 14, 'Gökçek': 14, 'Altınevler': 14, 'Ulubatlı Hasan': 13, 'Şefkat': 12, 'Güventepe': 12, 'Beştepe': 12, 'Yukarıyurtçu': 12, 'Doğuş': 12, 'Yavuzselim': 11, 'Sağlık': 11, 'Erzurum': 11, 'Eti': 11, 'Üreğil': 11, 'Yukarı Yahyalar': 11, 'Dumlupınar': 10, 'Gazi Osmanpaşa': 10, 'Güzelyurt': 10, 'Barış': 10, 'Fatih Sultan': 10, 'Beyazıt': 10, 'Hürriyet': 10, 'Zübeyde Hanım': 10, 'Hasanoğlan Bahçelievler': 9, 'Hasköy': 9, '23 Nisan': 9, 'Bostancık': 9, 'Mehmet Akif': 9, 'Anadolu': 8, 'Törekent': 8, 'Kıbrısköy': 8, 'Yücetepe': 8, 'Topraklık': 8, 'Ostim OSB': 8, 'Şehit Cengiz Topel': 8, 'Kuzey Yıldızı': 8, 'Güzelyaka': 8, 'Şenyuva': 8, 'Yuvaköy': 7, 'Akçay': 7, 'Kaletepe': 7, 'Esenboğa Merkez': 7, 'Lalahan': 6, 'Yıldırım': 6, 'Karacaören': 6, 'Yeni': 6, 'Çamlıca': 5, 'Kusunlar': 5, 'Söğütözü': 5, 'Erler': 5, 'Üniversiteler': 5, 'Ehlibeyt': 5, 'Üçpınar': 5, 'Barıştepe': 5, 'Ahlatlıbel': 4, 'Yeşilkent': 4, '25 Mart': 4, 'Atıfbey': 4, 'Aşağı Yahyalar': 4, 'Ostim': 4, 'Karacakaya': 4, 'Kale': 4, 'Önder': 4, 'Meşrutiyet': 4, 'Tulumtaş': 4, 'Hacıhasan': 3, 'Boztepe': 3, 'Dutluk': 3, 'Gümüşdere': 3, 'Gökçehüyük': 3, 'Araplar': 3, 'Büğdüz': 2, 'Ballıkpınar': 2, 'Satıkadın': 2, 'İsmetpaşa': 2, 'Altınova': 2, 'Dostlar': 2, 'Saray Osmangazi': 2, 'Kayı': 2, 'Aşağıyurtçu': 2, 'Alcı OSB': 2, 'Yenihisar': 2, 'Kayaş': 1, 'Aşağıçavundur': 1, 'Ayvaşık': 1, 'Başağaç': 1, 'Solfasol': 1, 'Yeniçimşit': 1, 'İvedik OSB': 1, 'Örencik': 1, 'Yenice': 1, 'Bahçekapı': 1, 'Mevlana': 1, 'Saracalar': 1, 'Tepecik': 1, 'Oyaca Yeşilçam': 1, 'Hacı Bayram': 1, 'Ferahfaki': 1, 'Gümüşpala': 1, 'Çağa': 1, 'Halitcevriaslangil': 1, 'Çoğlu': 1, 'İvedikköy': 1, 'Ilıca': 1, 'Bağlum Güzelyurt': 1, 'Emirler': 1, 'Beynam': 1, 'Hacıkara': 1}

In [ ]:
#value_counts = df_v2['Neighborhood'].value_counts()
#last_380_values = value_counts[-150:].index.tolist()

#df_v2 = df_v2[~df_v2['Neighborhood'].isin(last_380_values)]

In [86]:
df_v2['Apt_Floor'] = df_v2['Apt_Floor'].str.extract('(\d+)').astype(float)

In [87]:
value_counts = df_v2['Credit_Eli'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

Uygun: 23550
Uygun değil: 921
Bilinmiyor: 208

In [88]:
value_counts = df_v2['Credit_Eli'].value_counts()

# Get a list of the last 6 unique values
last_values = value_counts[-1:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Credit_Eli'].isin(last_values)]
value_counts = df_v2['Credit_Eli'].value_counts()

In [89]:
for value, count in value_counts.items():
    print(f"{value}: {count}")
value_counts = df_v2['Items'].value_counts()

Uygun: 23550
Uygun değil: 921

In [90]:
for value, count in value_counts.items():
    print(f"{value}: {count}")
df_v2['Items'] = df_v2['Items'].replace({'Eşyalı Değil': 0, 'Eşyalı': 1})

df_v2["Credit_Eli"] = df_v2["Credit_Eli"].replace({"Uygun":1,"Uygun değil":0})

Eşyalı Değil: 23330
Eşyalı: 1141

In [91]:
value_counts = df_v2['Usage'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

Boş: 11658
Mülk Sahibi: 6201
Kiracılı: 6183
Belirtilmemiş: 429

In [92]:
value_counts = df_v2['Usage'].value_counts()

# Get a list of the last 6 unique values
last_value = value_counts[-1:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Usage'].isin(last_value)]

In [93]:
df_v2.isna().sum()

City               0
District           0
Neighborhood       0
Num_Of_Room        0
Area               0
Floor              0
Age             3982
Heat_type          0
Apt_Floor          0
Credit_Eli         0
Items              0
Num_of_Bath        0
Usage              0
Price              0
dtype: int64

In [94]:
df_v2 = df_v2.dropna()

In [95]:
df_v2.dtypes

City             object
District         object
Neighborhood     object
Num_Of_Room      object
Area             object
Floor            object
Age             float64
Heat_type        object
Apt_Floor       float64
Credit_Eli        int64
Items             int64
Num_of_Bath     float64
Usage            object
Price            object
dtype: object

In [96]:
df_v2['Price'] = df_v2['Price'].str.replace('.', '').str.replace(' TL', '')
df_v2["Price"] = df_v2["Price"].astype(float)
df_v2['Num_Of_Room'] = df_v2['Num_Of_Room'].apply(lambda x: int(x.split('+')[0]) + int(x.split('+')[1]))

# Remove 'm2' from Area and convert to integers
df_v2['Area'] = df_v2['Area'].str.replace(' m2', '').astype(float)
df_v2 = df_v2.drop(columns=["City"])
df_v2.dtypes

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\3187241926.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_v2['Price'] = df_v2['Price'].str.replace('.', '').str.replace(' TL', '')

District         object
Neighborhood     object
Num_Of_Room       int64
Area            float64
Floor            object
Age             float64
Heat_type        object
Apt_Floor       float64
Credit_Eli        int64
Items             int64
Num_of_Bath     float64
Usage            object
Price           float64
dtype: object

In [97]:
df_v2.dtypes

District         object
Neighborhood     object
Num_Of_Room       int64
Area            float64
Floor            object
Age             float64
Heat_type        object
Apt_Floor       float64
Credit_Eli        int64
Items             int64
Num_of_Bath     float64
Usage            object
Price           float64
dtype: object

In [98]:
df_v2.isna().sum()

District        0
Neighborhood    0
Num_Of_Room     0
Area            0
Floor           0
Age             0
Heat_type       0
Apt_Floor       0
Credit_Eli      0
Items           0
Num_of_Bath     0
Usage           0
Price           0
dtype: int64

In [103]:
categorical_columns = ["Floor","Heat_type","Usage"]  # list the categorical columns you want to convert
df_v2 = pd.get_dummies(df_v2, columns=categorical_columns, drop_first=False)

In [104]:
column_to_move = 'Price'
column = df_v2.pop(column_to_move)
df_v2.insert(len(df_v2.columns), column_to_move, column)

In [105]:
df_v3 = df_v2.reset_index()
df_v3 = df_v3.drop(columns=["index"])

In [106]:
df_v3.to_excel("house_price_Test.xlsx")