In [65]:
import pandas as pd

In [66]:
import sys
stdout = sys.stdout

# some functions that mess up sys.stdout

sys.stdout = stdout

In [67]:
df = pd.read_csv("total_house_prices.csv",index_col=0)

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\1769208789.py:1: DtypeWarning: Columns (27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("total_house_prices.csv",index_col=0)

In [68]:
df.isna().sum()

City                         0
District                     0
Neighborhood                 0
İlan no                      0
Son Güncelleme Tarihi        0
Oda + Salon Sayısı           0
Brüt / Net M2                0
Bulunduğu Kat             1773
Bina Yaşı                    0
Isınma Tipi                  0
Kat Sayısı                  26
Krediye Uygunluk             4
Eşya Durumu               2051
Banyo Sayısı                22
Kullanım Durumu           1951
Takas                     3313
Cephe                     4624
Rent                         0
Tapu Durumu               3574
Yapı Tipi                 7256
Yapının Durumu            6698
Aidat                    14733
Kira Getirisi            16246
Yakıt Tipi                5771
Yetkili Ofis              9566
Site İçerisinde          30259
Depozito                 33322
Kapalı Alan M2           33325
Açık Alan M2             33325
Bina Sayısı              33325
Ada No                   33324
Parsel No                33324
dtype: int64

In [69]:
df_v1 = df.iloc[:,:18]

df_v1 =df_v1.drop(columns=["İlan no", "Son Güncelleme Tarihi", "Takas"])
df_v1.isna().sum()

City                     0
District                 0
Neighborhood             0
Oda + Salon Sayısı       0
Brüt / Net M2            0
Bulunduğu Kat         1773
Bina Yaşı                0
Isınma Tipi              0
Kat Sayısı              26
Krediye Uygunluk         4
Eşya Durumu           2051
Banyo Sayısı            22
Kullanım Durumu       1951
Cephe                 4624
Rent                     0
dtype: int64

In [70]:
df_v2 = df_v1.dropna()
df_v2.isna().sum()

City                  0
District              0
Neighborhood          0
Oda + Salon Sayısı    0
Brüt / Net M2         0
Bulunduğu Kat         0
Bina Yaşı             0
Isınma Tipi           0
Kat Sayısı            0
Krediye Uygunluk      0
Eşya Durumu           0
Banyo Sayısı          0
Kullanım Durumu       0
Cephe                 0
Rent                  0
dtype: int64

In [71]:
df_v2 = df_v2.rename(columns={'Oda + Salon Sayısı': 'Num_Of_Room', 'Brüt / Net M2': 'Area',
                               'Bulunduğu Kat': 'Floor',"Bina Yaşı":"Age","Isınma Tipi":"Heat_type","Kat Sayısı":"Apt_Floor",
                               "Krediye Uygunluk":"Credit_Eli","Eşya Durumu":"Items","Banyo Sayısı":"Num_of_Bath","Kullanım Durumu":"Usage","Cephe":"Side","Rent":"Price"})

In [72]:
df_v2 = df_v2.drop(columns=["Side"])

In [73]:
df_v2

,City,District,Neighborhood,Num_Of_Room,Area,Floor,Age,Heat_type,Apt_Floor,Credit_Eli,Items,Num_of_Bath,Usage,Price
0,Ankara,Gölbaşı,Hacılar,7 + 2,550 m2,Bahçe Katı,4 Yaşında,Kombi,3 Katlı,Uygun,Eşyalı Değil,6.0,Boş,17.700.000 TL
4,Ankara,Keçiören,Etlik,3 + 1,145 m2,2. Kat,16 Yaşında,Kombi,4 Katlı,Uygun,Eşyalı Değil,2.0,Boş,2.790.000 TL
6,Ankara,Çankaya,Birlik,6 + 2,340 m2,4. Kat,18 Yaşında,Kombi,4 Katlı,Uygun,Eşyalı Değil,3.0,Boş,4.450.000 TL
8,Ankara,Keçiören,Ovacık,4 + 1,215 m2,2. Kat,Sıfır Bina,Merkezi (Pay Ölçer),13 Katlı,Uygun,Eşyalı Değil,2.0,Boş,4.350.000 TL
9,Ankara,Keçiören,Etlik,3 + 1,110 m2,Kot 2,25 Yaşında,Kombi,3 Katlı,Uygun,Eşyalı Değil,1.0,Mülk Sahibi,1.249.000 TL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33321,Ankara,Çankaya,Maltepe,3 + 1,110 m2,2. Kat,36 Yaşında,Yerden Isıtma,4 Katlı,Uygun,Eşyalı Değil,1.0,Kiracılı,3.250.000 TL
33322,Ankara,Polatlı,Zafer,6 + 1,340 m2,En Üst Kat,11 Yaşında,Kombi,4 Katlı,Uygun,Eşyalı Değil,2.0,Mülk Sahibi,1.395.000 TL
33323,Ankara,Çankaya,Yıldızevler,3 + 1,155 m2,2. Kat,23 Yaşında,Merkezi,4 Katlı,Uygun,Eşyalı Değil,2.0,Boş,4.750.000 TL
33324,Ankara,Keçiören,Bağlarbaşı,4 + 1,215 m2,1. Kat,8 Yaşında,Kombi,10 Katlı,Uygun,Eşyalı Değil,2.0,Boş,4.250.000 TL
33325,Ankara,Çankaya,100. Yıl,3 + 1,125 m2,Yüksek Giriş,40 Yaşında,Merkezi,3 Katlı,Uygun,Eşyalı Değil,1.0,Kiracılı,2.250.000 TL

In [74]:
value_counts = df_v2['Floor'].value_counts()

In [75]:
for value, count in value_counts.items():
 print(f"{value}: {count}")

3. Kat: 3904
1. Kat: 3778
2. Kat: 3570
Yüksek Giriş: 2040
4. Kat: 1633
Ara Kat: 1464
En Üst Kat: 1141
Kot 1: 1008
Giriş Katı: 966
5. Kat: 748
Bahçe Katı: 628
6. Kat: 598
7. Kat: 408
8. Kat: 392
Kot 2: 390
9. Kat: 351
10. Kat: 330
11. Kat: 245
21 ve üzeri: 236
12. Kat: 222
Teras Katı: 211
13. Kat: 152
14. Kat: 140
Zemin: 111
Çatı Katı: 109
15. Kat: 97
Kot 3: 85
16. Kat: 68
17. Kat: 53
Villa Katı: 35
20. Kat: 34
18. Kat: 29
19. Kat: 27
Bodrum: 22
Bodrum ve Zemin: 11
Yarı Bodrum: 10
Asma Kat: 2

In [76]:
first_floor = ["Zemin", "Giriş Katı", "Bahçe Katı", "Yüksek Giriş"]
basement = ["Kot 1", "Kot 2", "Kot 3", "Bodrum", "Bodrum ve Zemin", "Yarı Bodrum"]
top_floor = ["En Üst Kat", "Teras Katı", "Çatı Katı"]

In [77]:
# Replace the values in the dataframe
df_v2['Floor'] = df_v2['Floor'].replace(first_floor, 'first floor')
df_v2['Floor'] = df_v2['Floor'].replace(basement, 'basement')
df_v2['Floor'] = df_v2['Floor'].replace(top_floor, 'top floor')

# Drop rows with "Asma Kat" as a value
df_v2 = df_v2[df_v2['Floor'] != "Asma Kat"]

# Assign the rest to "interstage"
unique_values = df_v2['Floor'].unique()
interstage = [value for value in unique_values if value not in ['first floor', 'basement', 'top floor']]
df_v2['Floor'] = df_v2['Floor'].replace(interstage, 'interstage')

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\1174050341.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v2['Floor'] = df_v2['Floor'].replace(interstage, 'interstage')

In [78]:
value_counts = df_v2['Floor'].value_counts()
for value, count in value_counts.items():
    print(f"{value}: {count}")

interstage: 18514
first floor: 3745
basement: 1526
top floor: 1461

In [79]:
df_v2['Age'] = df_v2['Age'].str.extract('(\d+)').astype(float)

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\3636994891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_v2['Age'] = df_v2['Age'].str.extract('(\d+)').astype(float)

In [80]:
value_counts = df_v2['Heat_type'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

Kombi: 19447
Merkezi (Pay Ölçer): 3176
Merkezi: 2056
Yerden Isıtma: 357
Kat Kaloriferi: 70
Soba: 66
Doğalgaz Sobası: 24
Klima: 18
Isıtma Yok: 12
Belirtilmemiş: 8
Güneş Enerjisi: 4
Fancoil Ünitesi: 4
Jeotermal Isıtma: 3
VRV: 1

In [81]:
value_counts = df_v2['Heat_type'].value_counts()
last_six_values = value_counts[-6:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Heat_type'].isin(last_six_values)]
value_counts = df_v2['Heat_type'].value_counts()

In [82]:
for value, count in value_counts.items():
    print(f"{value}: {count}")

Kombi: 19447
Merkezi (Pay Ölçer): 3176
Merkezi: 2056
Yerden Isıtma: 357
Kat Kaloriferi: 70
Soba: 66
Doğalgaz Sobası: 24
Klima: 18

In [83]:
value_counts = df_v2['Heat_type'].value_counts()
last_5_values = value_counts[-5:].index.tolist()

df_v2 = df_v2[~df_v2['Heat_type'].isin(last_5_values)]
value_counts = df_v2['District'].value_counts()

In [84]:
for value, count in value_counts.items():
    print(f"{value}: {count}")

Çankaya: 6486
Keçiören: 4499
Mamak: 3846
Etimesgut: 2377
Sincan: 2113
Yenimahalle: 1930
Altındağ: 1247
Pursaklar: 797
Gölbaşı: 721
Polatlı: 443
Çubuk: 121
Akyurt: 38
Kahramankazan: 16
Kızılcahamam: 13
Elmadağ: 12
Beypazarı: 9
Şereflikoçhisar: 4
Bala: 2
Ayaş: 2
Kalecik: 1
Haymana: 1
Güdül: 1

In [85]:
value_counts = df_v2['Neighborhood'].value_counts()
for value, count in value_counts.items():
    print(f"{value}: {count}")

Etlik: 566
Ayvalı: 363
Ovacık: 311
Bağlıca: 282
Durali Alıç: 279
Atapark: 274
Mustafa Kemal: 268
Akşemsettin: 262
İncek: 251
Mimar Sinan: 245
Merkez: 236
İstasyon: 231
Karakaya: 231
İlkadım: 231
General Zeki Doğan: 230
Karapürçek: 228
Harbiye: 227
Bahçelievler: 220
Yayla: 214
Aydınlıkevler: 211
Cengizhan: 205
Emek: 203
Turgut Özal: 202
Mareşal Çakmak: 202
Mutlu: 199
Şahintepe: 193
Yükseltepe: 193
Keklik Pınarı: 192
Yunus Emre: 191
Naci Çakır: 188
İncirli: 180
Aşağı Eğlence: 179
Fatih: 178
Yukarı Bahçelievler: 176
Malazgirt: 172
Fahri Korutürk: 172
Kırkkonaklar: 170
Birlik: 167
Ata: 166
Akpınar: 166
Plevne: 166
Pınarbaşı: 161
Esertepe: 160
Huzur: 158
Sancaktepe: 152
Osman Temiz: 150
Tandoğan: 149
Kutlu: 148
Menderes: 145
Selçuklu: 143
Fevzi Çakmak: 143
Güneşevler: 142
Alacaatlı: 136
Topçu: 135
Türközü: 134
Elvan: 133
Piyade: 132
Kanuni: 132
Mürsel Uluç: 130
Şehit Kubilay: 130
İlkbahar: 128
Yeni Bağlıca: 127
Sokullu Mehmet Paşa: 124
Tuzluçayır: 122
Ayrancı: 122
Aydınlar: 117
Cevizlidere: 117
Ahi Mesut: 116
Alsancak: 114
Pamuklar: 113
Ege: 113
Atatürk: 107
Yeşilova: 104
Şehitlik: 104
Taşpınar: 102
Karşıyaka: 102
Yeni Batı: 102
Şehit Osman Avcı: 101
Kuşcağız: 101
Maltepe: 101
Bahçelerüstü: 99
Aziziye: 98
Aşık Veysel: 96
Uyanış: 95
Hisar: 93
Gazi: 92
Şafaktepe: 91
Çağlayan: 89
Süvari: 88
Büyükesat: 88
Aşağı Öveçler: 87
Tepebaşı: 86
Hürel: 86
Andiçen: 85
Şirintepe: 85
Aşıkpaşa: 85
Cumhuriyet: 83
Şehit Cengiz Karaca: 83
Beşikkaya: 83
Örnek: 82
Şehit Cevdet Özdemir: 81
Karapınar: 81
Bademlik: 80
Başak: 78
Ufuktepe: 78
Beytepe: 77
Demirlibahçe: 76
Bağlarbaşı: 76
Öveçler: 75
Misket: 75
Seyranbağları: 74
Peyami Safa: 74
Atakent: 74
Gültepe: 73
Kentkoop: 73
Kavaklıdere: 72
Kardelen: 71
29 Ekim: 70
Gökkuşağı: 70
Yıldıztepe: 69
Demetgül: 69
Oran: 68
Mehtap: 68
Kazım Orbay: 67
30 Ağustos: 67
Yukarı Dikmen: 66
Hilal: 65
Feridun Çelik: 65
Gülveren: 64
19 Mayıs: 64
Eryaman: 64
Şentepe: 63
Kızılcaşar: 63
Şenlik: 63
Göksu: 62
Osmangazi: 62
Ayyıldız: 61
Abidinpaşa: 61
Yaşamkent: 61
Şeyh Şamil: 60
Tunahan: 60
Metin Oktay: 60
Turkuaz: 59
Demetevler: 59
Başpınar: 58
Battalgazi: 57
Kazım Karabekir: 57
Çiğdemtepe: 57
Altıağaç: 56
Seğmenler: 55
İşçi Blokları: 54
Güvenevler: 53
Boğaziçi: 52
Ertuğrulgazi: 52
Bahçeleriçi: 51
Adnan Menderes: 51
Harman: 51
Saraycık: 51
Atayurt: 50
İstiklal: 50
Sancak: 50
Gaziosmanpaşa: 49
Dodurga: 49
Tınaztepe: 48
Kültür: 48
Oğuzlar: 48
Ergazi: 48
Kafkas: 48
Yıldızevler: 47
Çiçekli: 47
Mutlukent: 47
Saimekadın: 46
Ekin: 46
Kartaltepe: 46
Zafer: 46
Bağcılar: 46
Balkiraz: 46
Demetlale: 45
Basınevleri: 45
Devlet: 45
Akdere: 45
Kayalar: 44
Yakacık: 43
Emniyet: 42
Umut: 42
Hacılar: 42
Yeşilevler: 42
Varlık: 42
Fakülteler: 41
Şeker: 41
Remzi Oğuz Arık: 41
Serhat: 41
Çiğdem: 41
Barbaros: 41
Küçük Kayaş: 41
Anıttepe: 41
Işınlar: 40
Saray Fatih: 40
100. Yıl: 39
Yıldırım Beyazıt: 39
Esatoğlu: 38
Hacettepe: 38
Çarşı: 38
Güzeltepe: 38
Doğantepe: 37
Kavacık Subayevleri: 37
Altay: 36
Mehmet Akif Ersoy: 36
Karaağaç: 36
Çankaya: 36
Ulubey: 35
Metin Akkuş: 35
Bayraktar: 34
Batı Sitesi: 34
Alcı: 34
Osmanlı: 34
Bademlidere: 33
Güzelkent: 33
Saray Cumhuriyet: 33
İnönü: 33
Ahi Evran: 33
Çamlıtepe: 32
Yavuz Selim: 32
Susuz: 32
Yeşilbayır: 31
Köşk: 31
İleri: 31
İlkyerleşim: 31
Zafertepe: 31
Ümit: 30
Güçlükaya: 30
Aktepe: 30
Baraj: 30
Yukarı Öveçler: 29
Etiler: 29
Konutkent: 29
Tepealtı: 29
Esentepe: 29
Ön Cebeci: 28
Esenboğa Merkez: 28
Yeşiltepe: 27
Kızılırmak: 27
Arka Topraklık: 27
Diriliş: 27
Koru: 26
Eymir: 26
Prof. Dr. Ahmet Taner Kışlalı: 26
Yuvaköy: 25
Kurtuluş: 25
Zirvekent: 24
Kazım Özalp: 24
İncesu: 24
Yeni Bayındır: 24
Cebeci: 24
Yeniçağ: 24
Avcılar: 24
Şahap Gürler: 23
Çukurambar: 23
Çayyolu: 23
Ragıp Tüzün: 23
Mehmet Akif: 22
Yavuzselim: 22
Fidanlık: 22
Törekent: 22
Mebusevleri: 22
Küçükesat: 22
Yapracık: 21
Şafak: 20
Tevfik İleri: 20
Şefkat: 20
Özevler: 20
Emrah: 20
Nasuh Akar: 20
Murat: 20
İlker: 20
Ergenekon: 19
Güzelyaka: 19
Gökçek: 19
Güventepe: 19
Burç: 19
Göktürk: 18
Derbent: 18
Kalaba: 18
Hüseyingazi: 18
Uğur Mumcu: 18
Fatih Sultan: 18
Gayret: 17
Karargahtepe: 17
Kızılay: 17
Korkutreis: 16
Altınevler: 16
Doğuş: 16
Muhsin Ertuğrul: 16
Balgat: 15
Kamil Ocak: 15
Kocatepe: 15
Çaldıran: 15
Tulumtaş: 15
Yücetepe: 15
Yukarı Yahyalar: 14
Anadolu: 14
Beştepe: 13
Yıldırım: 13
Kıbrısköy: 13
Ulubatlı Hasan: 13
Gazi Osmanpaşa: 13
Üreğil: 12
Barış: 12
Erzurum: 12
Yukarıyurtçu: 12
Zübeyde Hanım: 11
Sağlık: 11
Dumlupınar: 11
Güzelyurt: 11
Şehit Cengiz Topel: 11
Eti: 11
Bostancık: 11
Beyazıt: 10
23 Nisan: 10
Kuzey Yıldızı: 10
Karacaören: 10
Hasköy: 10
Yeni: 10
Hürriyet: 10
Aşağı Yahyalar: 9
Dutluk: 9
Hasanoğlan Bahçelievler: 9
Akçay: 9
Üçpınar: 9
Örencik: 8
Topraklık: 8
Şenyuva: 8
Ostim OSB: 8
Mevlana: 7
Kaletepe: 7
Çamlıca: 6
Lalahan: 6
Önder: 6
Üniversiteler: 5
Meşrutiyet: 5
Atıfbey: 5
Söğütözü: 5
Erler: 5
Ehlibeyt: 5
Barıştepe: 5
Kusunlar: 5
Kale: 5
25 Mart: 4
Araplar: 4
Ahlatlıbel: 4
Alcı OSB: 4
Yeşilkent: 4
Ostim: 4
Karacakaya: 4
Hacıhasan: 4
Aşağıçavundur: 3
Ballıkpınar: 3
Yenice: 3
Saray Osmangazi: 3
Boztepe: 3
Bağlum Güzelyurt: 3
Gökçehüyük: 3
Yenihisar: 3
Yeniçimşit: 3
Saracalar: 3
Satıkadın: 3
Gümüşdere: 3
Balıkhisar: 2
Basrı: 2
Büğdüz: 2
Hacıkara: 2
İsmetpaşa: 2
İvedikköy: 2
Beynam: 2
Altınova: 2
İvedik OSB: 2
Kayı: 2
Dostlar: 2
Kızılca: 2
Aşağıyurtçu: 2
Güzelhisar: 1
Olukpınar: 1
Sünlü: 1
Bahçekapı: 1
Balıkuyumcu: 1
Tepecik: 1
Solfasol: 1
Başağaç: 1
Ayvaşık: 1
Kayaş: 1
Yukarı İmrohor: 1
Çağa: 1
Karaoğlan: 1
Oyaca Yeşilçam: 1
Hacı Bayram: 1
Gedikli: 1
Ferahfaki: 1
Malıköy: 1
Gümüşpala: 1
Bayındır: 1
Çoğlu: 1
Ilıca: 1
Kemalpaşa: 1
Muhsin Yazıcıoğlu: 1
Akseki: 1
Halitcevriaslangil: 1
Emirler: 1
İkizce: 1

In [ ]:
#value_counts = df_v2['Neighborhood'].value_counts()
#last_380_values = value_counts[-150:].index.tolist()

#df_v2 = df_v2[~df_v2['Neighborhood'].isin(last_380_values)]

In [86]:
df_v2['Apt_Floor'] = df_v2['Apt_Floor'].str.extract('(\d+)').astype(float)

In [87]:
value_counts = df_v2['Credit_Eli'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

Uygun: 23550
Uygun değil: 921
Bilinmiyor: 208

In [88]:
value_counts = df_v2['Credit_Eli'].value_counts()

# Get a list of the last 6 unique values
last_values = value_counts[-1:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Credit_Eli'].isin(last_values)]
value_counts = df_v2['Credit_Eli'].value_counts()

In [89]:
for value, count in value_counts.items():
    print(f"{value}: {count}")
value_counts = df_v2['Items'].value_counts()

Uygun: 23550
Uygun değil: 921

In [90]:
for value, count in value_counts.items():
    print(f"{value}: {count}")
df_v2['Items'] = df_v2['Items'].replace({'Eşyalı Değil': 0, 'Eşyalı': 1})

df_v2["Credit_Eli"] = df_v2["Credit_Eli"].replace({"Uygun":1,"Uygun değil":0})

Eşyalı Değil: 23330
Eşyalı: 1141

In [91]:
value_counts = df_v2['Usage'].value_counts()

# Print each unique value and its count
for value, count in value_counts.items():
    print(f"{value}: {count}")

Boş: 11658
Mülk Sahibi: 6201
Kiracılı: 6183
Belirtilmemiş: 429

In [92]:
value_counts = df_v2['Usage'].value_counts()

# Get a list of the last 6 unique values
last_value = value_counts[-1:].index.tolist()

# Remove rows with the last 6 unique 'Heat_type' values
df_v2 = df_v2[~df_v2['Usage'].isin(last_value)]

In [93]:
df_v2.isna().sum()

City               0
District           0
Neighborhood       0
Num_Of_Room        0
Area               0
Floor              0
Age             3982
Heat_type          0
Apt_Floor          0
Credit_Eli         0
Items              0
Num_of_Bath        0
Usage              0
Price              0
dtype: int64

In [94]:
df_v2 = df_v2.dropna()

In [95]:
df_v2.dtypes

City             object
District         object
Neighborhood     object
Num_Of_Room      object
Area             object
Floor            object
Age             float64
Heat_type        object
Apt_Floor       float64
Credit_Eli        int64
Items             int64
Num_of_Bath     float64
Usage            object
Price            object
dtype: object

In [96]:
df_v2['Price'] = df_v2['Price'].str.replace('.', '').str.replace(' TL', '')
df_v2["Price"] = df_v2["Price"].astype(float)
df_v2['Num_Of_Room'] = df_v2['Num_Of_Room'].apply(lambda x: int(x.split('+')[0]) + int(x.split('+')[1]))

# Remove 'm2' from Area and convert to integers
df_v2['Area'] = df_v2['Area'].str.replace(' m2', '').astype(float)
df_v2 = df_v2.drop(columns=["City"])
df_v2.dtypes

C:\Users\PC\AppData\Local\Temp\ipykernel_19068\3187241926.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_v2['Price'] = df_v2['Price'].str.replace('.', '').str.replace(' TL', '')

District         object
Neighborhood     object
Num_Of_Room       int64
Area            float64
Floor            object
Age             float64
Heat_type        object
Apt_Floor       float64
Credit_Eli        int64
Items             int64
Num_of_Bath     float64
Usage            object
Price           float64
dtype: object

In [97]:
df_v2.dtypes

District         object
Neighborhood     object
Num_Of_Room       int64
Area            float64
Floor            object
Age             float64
Heat_type        object
Apt_Floor       float64
Credit_Eli        int64
Items             int64
Num_of_Bath     float64
Usage            object
Price           float64
dtype: object

In [98]:
df_v2.isna().sum()

District        0
Neighborhood    0
Num_Of_Room     0
Area            0
Floor           0
Age             0
Heat_type       0
Apt_Floor       0
Credit_Eli      0
Items           0
Num_of_Bath     0
Usage           0
Price           0
dtype: int64

In [ ]:
categorical_columns = ["Floor","Heat_type","Usage"]  # list the categorical columns you want to convert
df_v2 = pd.get_dummies(df_v2, columns=categorical_columns, drop_first=False)

In [99]:
column_to_move = 'Price'
column = df_v2.pop(column_to_move)
df_v2.insert(len(df_v2.columns), column_to_move, column)

In [100]:
df_v3 = df_v2.reset_index()
df_v3 = df_v3.drop(columns=["index"])

In [102]:
df_v3.to_excel("house_price_Test.xlsx")